---
scripts: ['main.js']
styles: []
---

<div class="content">
    <h1><span aria-hidden="true" role='img'>✨</span>&nbsp;Cria Plus</h1>
    <p>An expanded starter template for Toollama.com applications</p>
</div>